@import "monolisa";

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-display: swap;
  src: local(''),
       url('/fonts/FiraCode-VF.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  src: local(''),
       url('/fonts/InterVariable.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face {
  font-family: 'Segoe Emoji';
  font-style: normal;
  font-display: swap;
  src: local(''),
       url('/fonts/SegoeEmoji.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Noto Sans SC', 'Segoe Emoji', sans-serif;
}

code {
  font-family: 'ml', monospace;
}
